@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito:wght@200&family=Quicksand&family=Rokkitt&family=Zilla+Slab:wght@300&display=swap');
@font-face {
    font-family: "dokumenti/LoraPavlovic.ttf";
    src:url("dokumenti/LoraPavlovic.ttf"); }
*{
	margin:0;
	font-family: 'Lora', serif;
}
    /*navigacija*/
li
{
	display:inline-block;
	padding-top: 11px;
	font-size:16px;
	color: #F1EEDC;
	text-align:left;
	position:relative;
	width:100px;
	padding-left:50px;

}

#navigacija li:hover{
	color:#000;
	height: 35px;
	background: #B3C8CF;
}
#navigacija
{
	position: absolute;
	width: 100%;
	height: 45px;
	background: #B3C8CF;
	text-align:left;
}
#nav{
	position: absolute;
	width: 100%;
	height: 45px;
	background: #B3C8CF;
	text-align:left;
}
#nav li:hover{
	color:#000;
	height: 35px;
	background: #B3C8CF;
}
    /*pozadina*/
.pozadina{
    background-image:url("multimedija/slike/pozadina.jpg");
    height: 100vh; /* puna visina */
    background-size: cover; /* prekrivanje cijelog diva */
    background-position: center; 
    background-repeat: no-repeat;
}
        /*pocetna*/
.home{
    position: relative;
    top: 100px; 
    text-align: center;
    color: black;
    font-size: 14px;
}
.home h1{
    font-family: "LoraPavlovic";
}
.blok_home{
    background-color: rgba(179, 200, 207, 0.6); 
    padding: 25px; 
    display: inline-block;
}
        /*o meni*/
.o_meni{
    position: relative;
    top: 100px; 
    text-align: center;
    display: inline-block;
}
.multi_omeni img{
    height: 250px;
}
.multi_omeni>h4{
    padding-top: 55px;
}
#omeni_body{background-color: #f1eedcd8;}
.parag_omeni>p{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}
        /*vjezbe*/
.vjezbe{
    background-color: #f1eedcd8;
}
.blok_vjezbi{
    position: relative;
    margin-top: 10%;
    text-align: center;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
}
.blok_vjezbi img{
    height: 250px;
}
        /*video*/
#video_body{background-color: #f1eedcd8;}
.video{
    position: relative;
    margin: 15%;
    display: inline-block;
}